body {
    background-color: transparent;
    font-family: Kadwa, Helvetica, Ariel;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 10px #142923;
    text-align: center;
    line-height: 1.4em;
}
